body{
    padding-top: 150px;
}

table, table tr, table td, table th{
    border: 1px black solid;
    border-collapse: collapse;
}

#liste-articles th{
    width: 500px;

}

#liste-articles td {
    height: 50px;
}

.centre{
    text-align: center;
    margin: auto;
}

#article{
    margin-top: 20px;
    background-color: rgba(129, 139, 137, 0.1);
}

#auteur{
    margin-top: 20px;
    background-color: rgba(0,0,255, 0.1)

}
.visible{
    visibility: visible;
}

.cache{
    visibility: hidden;
}